@font-face {
    font-family: homeFont;
    src: url("../fonts/fjallaone.ttf");
}

body {
    background-color: #3d3d3d;
    padding: 0%;
}

::-webkit-scrollbar
{
    width: 0;
}

#scrollPath
{
    position: fixed;
    top: 0;
    right: 0;
    width: 8px;
    height: 100%;
    background-color: rgba(255,255,255,0.05);
}

#progressBar
{
    position: fixed;
    top: 0;
    right: 0;
    width: 8px;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}

@keyframes animate
{
    0%,100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}

#progressBar:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}

#progressBar:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

#all
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    transition: 0.5s;
}

header {
    position: absolute;
    justify-content: space-between;
    display: flex;
    padding: 30px 30px;
    z-index: 10000;
    transition: 0.6s;
}

header #toggle
{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

header #toggle::before
{
    content: '';
    position: absolute;
    top: 25%;
    width: 100%;
    height: 4px;
    background: white;
}

header #toggle::after
{
    content: '';
    position: absolute;
    bottom: 25%;
    width: 100%;
    height: 4px;
    background: white;
}

.page.active header #toggle::before
{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}

.page.active header #toggle::after
{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}

.page.active {
    transform: translateX(400px);
}

#navigation
{
    display: block;
    position: fixed;
    top: 0;
    left: -400px;
    width: 392px;
    height: 100vh;
    background: rgb(177,145,255);
    background: linear-gradient(15deg, rgba(177,145,255,1) 21%, rgba(248,118,102,1) 100%);
    display: grid;
    place-items: center;

}

#navigation ul
{
    position: relative;
    display: flex;
    flex-direction: column;
    transform: translateX(-10%);
}

#navigation ul li
{
    list-style: none;
    padding-top: 25px;
}

#navigation ul li a
{
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 3em;
    font-weight: 250;
    text-transform: uppercase;
    font-family: homeFont;

}

#navigation ul li a:hover
{
    color: #3d3d3d;
}

section.homePhotoSection {
    background-color: #f9f9fa;
    background-image: url("../images/homePhoto.JPG");
    display: block;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    width: 100%;
    height: 0;
    padding-top: 34.4%; /* 2064 / 6000 * 100 */
    position: relative;
}

section.homePhotoSection img{
    border-radius: 50%;
    width: 16%;
    height: auto;
    position: relative;
    margin-left: -8%;
    margin-top: -8%;
    top: 100%;
    left: 50%;
}

section.welcome{
    display: block;
    background-color: #f9f9fa;
    padding-top: 15%;
    padding-bottom: 2%;
}

section.welcome div{
    text-align: center;
    font-size: 3vw;
    font-family: homeFont;
    color: #3d3d3d;

}

section.welcome ul{
    margin: 0;
    padding: 0;
    margin: auto;
    list-style-type: none;
    white-space: nowrap;
    display: inline;
    position:relative;
    left:4.5%;  
}

section.welcome li{
    display: inline;
}

section.welcome img{
    width: 30%;
}

footer {
    background-color: #f87666;
    background-attachment: scroll;
    padding: 3px 3px 0 0;
    position: fixed;
    bottom: 0pt;
    left: 0;
    display: block;
    width: 100%;
}

footer div{
    padding-left: 4px;
}

@media only screen and (max-width: 475px) {
    header{
        padding: 10px 15px;
    }
}

@media only screen and (min-width: 1050px) {
    header #toggle
    {
        width: 40px;
        height: 40px;
    }

    header #toggle::before
    {
        height: 5px;
    }

    header #toggle::after
    {
        height: 5px;
    }

}