@font-face {
    font-family: mainFont;
    src: url("../fonts/fjallaone.ttf");
}

*
{
    box-sizing: border-box;
}

body {
    background-color: #3d3d3d;
    padding: 0%;
}

#all
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    transition: 0.5s;
}

header {
    position: absolute;
    justify-content: space-between;
    display: flex;
    padding: 30px 30px;
    z-index: 10000;
    transition: 0.6s;
}

header #toggle
{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

header #toggle::before
{
    content: '';
    position: absolute;
    top: 25%;
    width: 100%;
    height: 4px;
    background: #3d3d3d;
}

header #toggle::after
{
    content: '';
    position: absolute;
    bottom: 25%;
    width: 100%;
    height: 4px;
    background: #3d3d3d;
}

.page.active header #toggle::before
{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}

.page.active header #toggle::after
{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}

.page.active {
    transform: translateX(400px);
}

#navigation
{
    display: block;
    position: fixed;
    top: 0;
    left: -400px;
    width: 392px;
    height: 100vh;
    background: rgb(177,145,255);
    background: linear-gradient(15deg, rgba(177,145,255,1) 21%, rgba(248,118,102,1) 100%);
    display: grid;
    place-items: center;

}

#navigation ul
{
    position: relative;
    display: flex;
    flex-direction: column;
    transform: translateX(-10%);
}

#navigation ul li
{
    list-style: none;
    padding-top: 25px;
}

#navigation ul li a
{
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 3em;
    font-weight: 250;
    text-transform: uppercase;
    font-family: mainFont;

}

#navigation ul li a:hover
{
    color: #3d3d3d;
}

#secBackground
{
    width: 100%;
    min-height: 200px;
    background-color: white;
    text-align: center;
}

#faceSec
{
    width: 100%;
    min-height: 200px;
    background-color: white;
    text-align: center;  
    display: flex; 
    justify-content: center;
    align-items: center;
}

#space
{
    height: 150px;
}
#space_
{
    height: 50px;
    background-color: white;
}
#space__
{
    height: 40px;
    background-color: white;
}

h1
{
    position: absolute;
    left: 50%;
    align-self: center;
    font-family: mainFont;
    color: #3d3d3d;
    transform: translate(-50%,55%);
    font-size: 3em;
    padding-top: 0;
    text-decoration: underline;
}

p
{
    margin: 10px;
    padding: 5px;
    font-family: mainFont;
    font-size: 2em;
    color: #3d3d3d;
}

#studentTxt
{
    padding-bottom: 25px;
}

a
{
    display: inline;
    font-family: mainFont;
    font-size: 2em;
    color: #9593D9;
}

a:hover 
{
    color: #f87666;
    text-decoration: none;
}

.face
{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #ffcd00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face::before
{
    content: '';
    position: absolute;
    top: 180px;
    width: 150px;
    height: 70px;
    background-color: #b57700;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    transition: 0.5s;
}

.face:hover::before
{
    top: 210px;
    width: 150px;
    height: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.eyes
{
    position: relative;
    top: -40px;
    display: flex;
}

.eyes .eye
{
    position: relative;
    width: 80px;
    height: 80px;
    display: block;
    background-color: white;
    margin: 0 15px;
    border-radius: 50%;
}

.eyes .eye::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
    background-color: #3d3d3d;
    border-radius: 50%;
}


footer {
    background-color: #f87666;
    background-attachment: scroll;
    padding: 3px 3px 0 0;
    position: fixed;
    bottom: 0pt;
    left: 0;
    display: block;
    width: 100%;
}

footer div{
    padding-left: 4px;
}

